<% unless cookie_accepted? %>
  <div class='alert alert-cookie fade in'>
    <p class="alert-message">
      <%= t(:cookie_message_html) %>
    </p>
    <a id="cookie-close-btn" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>
