<% unless cookie_accepted? %>
  <div class='alert alert-cookie fade in'>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <% t(:cookie_message) %>
  </div>
<% end %>