.alert {
  &-cookie {
    background-color: $mid-gray;
    color: $black;
    margin-bottom: 0;

    .close {
      opacity: 0.8;
      float: none;
      position: absolute;
      top: 0.8em;
      right: 1em;
    }
  }
  &-message {
    padding-right: 2em;
    padding-left: 2em;
  }
}